<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet"> 
</head>
    <body>
        <div class="container mt-3 mt-lg-4 mt-xl-5">
            {{{body}}}
        </div>
    </body>
</html>