<h1 class="text-center mb-3">{{title}}</h1>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <ul class="list-group">
            {{#each members}}
                <li class="list-group-item"><strong>{{this.name}}</strong>: <a href="mailto:{{this.email}}">{{this.email}}</a> <span class="badge {{this.status}}">{{this.status}}</span></li>
            {{/each}}
        </ul>
    </div>
</div>
